<mat-toolbar color="primary">
    <app-logo></app-logo>
    <app-search-input [query]="searchService.query" (submitSearch)="search($event)"></app-search-input>
    <app-account-menu></app-account-menu>
  </mat-toolbar>
  <mat-spinner *ngIf="isLoading"></mat-spinner>

  <app-error [message]="errorMessage" *ngIf="errorMessage && !isLoading"></app-error>

  <mat-card *ngIf="!errorMessage && !isLoading && staffMember" class="mat-elevation-z0">
    <mat-card-subtitle>{{ staffMember.personalId }}</mat-card-subtitle>
    <mat-card-title>
      <span>{{ staffMember.firstName }}</span>
      <span>{{ staffMember.lastName }}</span>
    </mat-card-title>
    <mat-card-content>    
  
    </mat-card-content>
  </mat-card>
  