:host {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto auto auto;
}

mat-toolbar {
    grid-column-start: 1;
    grid-column-end: span 2;
    grid-row-start: 1;
    grid-row-end: 1;
    app-logo {
        flex: 1;
    }
    app-search-input {
        margin-right: 12px;
    }
}
mat-spinner {
    margin: 48px auto;
    grid-column-start: 1;
    grid-column-end: span 2;
}

mat-accordion {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 3;
    grid-row-end: 3;
    margin: 0 24px;
    max-width: 320px;
}

.result-wrapper {
    display: flex;
    flex-direction: column;
}

h1 {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 2;
    margin: 24px;
}

.results {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 3;
    margin: 0 24px;
    max-width: 640px;
    .no-results {
        display: table;
        margin: 0 auto;
        color: darkgray;
        font-size:larger;
    }
    ul {
        padding: 0;
        display: flex;
        flex-direction: column;
        list-style: none;
        margin-block-start: 0;
        margin-block-end: 0;
        cursor: pointer;
        li {
            background: #f8f8f8;
            margin: 0 0 4px 0;
            padding: 12px 16px;
            border-left: 4px solid transparent;
            position: relative;
            p {
                margin: 0;
            }
            p.caption {
                font-size: 10px;
                font-weight: 500;
                text-transform: uppercase;
                opacity: 0.6;
            }
            p.main {
                font-size: 16px;
            }
            p.subline {
                opacity: 0.6;
            }
            mat-icon {
                position: absolute;
                right: 16px;
                top: calc(50% - 12px);
            }
        }
        li:hover {
            background: white;
            border-left-color: var(--color-accent-red);
            box-shadow:0px 0px 20px 0px var(--color-accent-blue-light);            
        }

    }
}
app-error {
    grid-column-start: 1;
    grid-column-end: span 2;
}