/* For use in src/lib/core/theming/_palette.scss */
$md-primary: (
    50 : #e1e9ec,
    100 : #b5c8d0,
    200 : #83a3b1,
    300 : #517e92,
    400 : #2c637a,
    500 : #074763,
    600 : #06405b,
    700 : #053751,
    800 : #042f47,
    900 : #022035,
    A100 : #6db6ff,
    A200 : #3a9cff,
    A400 : #0783ff,
    A700 : #0076ec,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$md-accentblue: (
    50 : #eef4fb,
    100 : #d4e3f5,
    200 : #b7d1ef,
    300 : #9abfe8,
    400 : #85b1e3,
    500 : #6fa3de,
    600 : #679bda,
    700 : #5c91d5,
    800 : #5288d1,
    900 : #4077c8,
    A100 : #ffffff,
    A200 : #e6f0ff,
    A400 : #b3d1ff,
    A700 : #9ac1ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #020202,
        700 : #000000,
        800 : #000000,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$md-accentred: (
    50 : #fce6e9,
    100 : #f8c2c7,
    200 : #f399a2,
    300 : #ee707d,
    400 : #ea5161,
    500 : #e63245,
    600 : #e32d3e,
    700 : #df2636,
    800 : #db1f2e,
    900 : #d5131f,
    A100 : #ffffff,
    A200 : #ffd1d3,
    A400 : #ff9ea3,
    A700 : #ff858a,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

